#socialimg
{
    float: left;
}

header
{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header p
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#intromsg
{
    clear: both;
}

ol li a
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #0dd;
    font-style: italic;
}

#portfolio
{

}

#testimonials
{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;

    display: grid;
    grid-template-rows: 1fr 1fr;
}

#testimonials h3
{
    grid-column: 1/3;
}

#testimonials section
{
    grid-template-columns: 1fr 1fr;
    text-align: left;
    grid-row: 2;
}

#testimonials p
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    clear: both;
}

.date
{
    color: #bbb;
    padding-left: 10px;
}

footer
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.redacted
{
    color: black;
    background-color: black;
    font-size: 8pt;
}

.star
{
    float: left;
}

.emphisis
{
    font-style: italic;
    font-weight: 600;
}