header
{

}

#portfolio
{

}

#testimonials
{

}

footer
{

}

.redacted
{
    color: black;
    background-color: black;
    font-size: 12px;
}

#emphisis
{
    font-style: italic;
    font-weight: 600;
}