#socialimg
{
    float: left;
}

header
{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header p
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#intromsg
{
    clear: both;
}

ol li a
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #0dd;
    font-style: italic;
}

#portfolio
{

}

#testimonials
{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#testimonials p
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    clear: both;
}

footer
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.redacted
{
    color: black;
    background-color: black;
    font-size: 8pt;
}

.star
{
    float: left;
}

.emphisis
{
    font-style: italic;
    font-weight: 600;
}